.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(3, 85, 3);
}

.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}


.navbar  a:hover{
    background-color: rgb(163, 163, 22);
}

