@import "estilo.css";
@import "header.css";
@import "nav.css";


.row{
    display: flex;
    flex-wrap: wrap;

}

aside{
    flex: 30%;
    height: 400px;
    background-color: salmon;

}

.main{
    flex: 70%;
    height: 400px;
    background-color: skyblue;
}

@media screen and (max-width: 700px){
    .navbar,.row{
        flex-direction: column;
    }
}